.side-bar {
    display: flex;
    position: fixed;
    padding-right: 2rem;
    flex-direction: column;
    min-width: 12rem;
    margin-top: 4rem;
}

.side-bar h3 {
    border-bottom: 1px solid var(--clr-gray);
    padding: 0.5rem;
}

.side-list {
    padding-left: 0;
    list-style: none;
}
.side-list li {
    padding: 0.5rem;
    border-radius: 5px;
    display: flex;
    align-items: flex-end;
    gap: 1.25rem;
}

.side-list li:hover {
    font-weight: 600;
    background: var(--clr-gray-light);
    border-radius: 4px;
}


@media only screen and (max-width: 870px ){
  .side-list > li >a {
      display: none;
  }
  .side-bar{
    min-width: 2rem;
  }
}

