
.navbar{
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 1rem 2rem .5rem;   
    flex-wrap: wrap;
    z-index: 2;
    position: fixed;
    width: 100%;
    background-color: var(--clr-white);
    border-bottom: 0.8px solid var(--clr-gray);
  
}
.navbar-right{
    display: flex;
    list-style: none;
    gap: 1rem;
    padding-left: 0;
    margin: 0;
}
.links{
    color: var(--clr-dark);
    text-decoration: none;
    display: block;
}

.navbar-right li{
    padding: .5rem;
    border-radius: 5px;
}

.navbar-right li:hover
 {
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 300ms ease 0ms;
}
@media only screen and (max-width: 600px ){
    .navbar{
        padding-inline: 1rem;
    }

}
