.no-shadow{
    box-shadow: none;
    border: 2px solid var(--clr-gray-light);
}
.no-shadow:hover{
    box-shadow: 0px 0px 8px 2px rgba(0, 0, 0, 0.2);
    transition: box-shadow 300ms ease 0ms;
}
.playlist-details p{
    padding-bottom: .25rem ;

}
